/* Colori Testo */

.grey-text {
  color: rgb(158, 158, 158)
}
.black-text {
  color: black;
}
.pink-text {
  color: #D90378;
}
.white-text {
  color: white;
}

/* root e template iniziale vite-project */

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #c2c6c9;
}


/* Container e Content delle componenti */

.container {
  display: flex;
}

.content {
  margin-left: 168px; 
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
}