.carousel {
    width: 100%;
    max-width: 1000px; /* Modifica in base alla tua larghezza */
    margin: auto;
    overflow: hidden;

    .carousel-inner {
        display: flex;
        transition: transform 0.3s ease;

        .blur {
            filter: blur(1px);
        }

        .carousel-item {
            min-width: 100%;

            img {
                width: 100%;
                display: block;
            }
        
        }
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        top: 50%;
        background-color: transparent;
        color: white;
        padding: 10px;
        cursor: pointer;
        position: absolute;
    }

    .carousel-control-prev {
        margin-left: -7%;
    }

    .carousel-control-next {
        margin-left: 40%;
    }
}


/* Form Inserimento */
.credit-card {
    background-image: url('../../assets/credit-card.webp');
    background-size: contain;
    height: 465px;
    width: 700px;
    
    .form-inserimento {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 45px;
        margin-left: 15%;
        
        .form-row {
            display: flex;
            flex-direction: row;
            font-size: 25px;
            margin-bottom: 1%;
            
            input {
                font-size: 25px;
                border: none;
                background: none;
                text-align: center;
            }
            
            .data-scadenza,
            .numero-conto,
            .tipo,
            .codice-sicurezza,
            ::placeholder {
                color: #aaa; /* Colore del placeholder */
                opacity: 1; /* Rendi il placeholder pienamente visibile */
            }
            
            .data-scadenza,
            .numero-conto,
            .tipo {
                color: white;
                height: 40px;
            }
            
            .nome-cognome {
                margin-right: 50px;
                margin-left: -8%;
                margin-top: 2%;
            }
            
            .tipo {
                margin-top: 10%;
                margin-left: 11%;
                width: 68%;
            }
            
            .numero-conto {
                margin-top: 4%;
                margin-left: 11%;
                font-size: 30px;
                width: 80%;
            }
            
            .data-scadenza {
                margin-left: 21%;
                width: 13%;
            }
            
            .codice-sicurezza {
                margin-top: -209%;
                margin-left: 1327%;
                width: 35px;
                font-size: 15px;
                color: black;
                height: 20px;
            }
        }
    }
}

button {
    border: none;
}

.carta-button {
    margin-top: -6%;
    margin-left: -6%;
    background-color: transparent;
    
}

.elimina-button {
}